/*
Мобильники 320-767px — mobile
Планшеты 768-1023px — tablet
Лаптопы 1024-1199px — laptop
Десктопы >=1200px — desktop

@media (max-width: 1199px) and (min-width: 768px) { ... }
@media (max-width: 1199.98px) { ... }
@media screen and (min-width: 1200px) {} от -> до бесконечности
@media screen and (min-height: 320px) {} от -> высота вьюпориа больше 320px
@media screen and (min-width: 320px) and (max-width: 600px) => от 320px до 600px;

orientation:
  portrait(портрет) -  высота области видимости больше ширины
  landscape(пейжаж, альдом)

  @media screen and (orientation: landscape) =>
*/

@mixin desktop-lg {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: 1360px) {
    @content;
  }
}


@mixin desktopSmall {
  @media (max-width: 1360px) {
    @content;
  }
}


@mixin laptop{
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet{
  @media (max-width: 768px) {
    @content;
  }
}


@mixin phone{
  @media (max-width: 480px) {
    @content;
  }
}
